footer {
  background-color: $pac2-color-background-header;
  font-family: $pac2-font-header;
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);

  & img {
    width: 100px;
    float: right;
    text-decoration: none;
  }
}

.left_footer {
  padding-top: 40px;
  padding-left: 40px;
  float: left;
  width: 50%;
  text-align: left;
}

.right_footer {
  padding-top: 40px;
  padding-right: 40px;
  float: right;
  width: 50%;

  & p {
    text-align: right;
  }
}

@function lightness-shift($colour) {
  @if (lightness($colour) < 100%) {
    @return lighten($colour, 10%);
  } @else {
    @return darken($colour, 10%);
  }
}

@media (max-width: 992px) {
  .footer {
    background: lightness-shift($pac2-color-background-footer);
  }
}
