@use "sass:color";

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: $pac2-font;
  font-size: 18px;
  color: $pac2-font-color;
  background-color: $pac2-color-background;
}

p {
  margin: 0;
  margin-bottom: 0.5em;
}

hr {
  display: none;
}

.index {
  position: relative;
  display: block;
  max-width: 45em;
  padding: 1em;
  margin: 0 auto;

  &_title {
    font-size: 4em;
    text-transform: none;
    font-family: $pac2-font-title;
    color: $pac2-color-background-header;
  }

  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_location {
    margin-top: 1em;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &_link {
    display: block;
    margin-bottom: 2em;
    font-weight: bold;
    color: $pac2-font-color;
    text-decoration: none;
    text-transform: uppercase;
  }

  &_subtitle {
    margin-bottom: 1em;
    font-size: calc(1em + 0.5vw);
    color: color.scale($pac2-font-color, $lightness: 50%);
    text-transform: uppercase;
  }
}

// Grid layout for big screens

@supports (display: grid) {
  @media (min-width: 42em) and (min-height: 40em) {
    .index {
      display: grid;
      grid-template-rows: 35vh 40vh 15vh 10vh;
      grid-template-columns:
        2fr minmax(10em, max-content) minmax(14em, max-content)
        minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      max-width: none;
      padding: 0;

      &_title {
        z-index: 2;
        grid-row: 1 / 2;
        grid-column: 5 / 6;
        align-self: center;
        margin-bottom: initial;
        text-align: center;
      }

      &_about {
        grid-row: 2;
        grid-column: 2 / 3;
        align-self: center;
        margin-bottom: initial;
        text-align: end;
      }

      &_location {
        z-index: 2;
        display: flex;
        grid-row: 3 / 4;
        grid-column: 3 / 3;
        margin-top: initial;
        text-align: center;
        background-color: $pac2-color-background;

        p {
          margin: auto;
        }
      }

      &_link {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        align-self: start;
        justify-self: end;
        margin-bottom: initial;

        &::after {
          display: block;
          width: 4ch;
          height: 4px;
          margin-top: 1em;
          content: "";
          background-color: $pac2-color-background;
        }
      }

      &_img {
        grid-row: 1 / 4;
        grid-column: 2 / 5;
      }

      &_subtitle {
        grid-row: 1 / -1;
        grid-column: 1/2;
        margin-top: 2em;
        margin-bottom: initial;
        writing-mode: vertical-rl;
      }
    }

    hr {
      grid-row: 2;
      grid-column: 2 / 3;
      justify-self: end;
      width: 20ch;
      height: 6px;
      margin-top: 0;
      background-color: $pac2-color-background;
      border-top: 0;
      opacity: 1;
    }

    .button {
      position: initial;
      grid-row: 4 / 5;
      grid-column: 5 / 6;
      padding: 0;
    }
  }
}
