/************************************************/
/* PÀGINA DE LA INSCRIPCIÓ                      */
/************************************************/
@layer inscripcio-obscur, inscripcio-clar;

@layer inscripcio-clar {
  .inscripcio {
    background-color: $pac2-color-background;
    color: $pac2-font-color;
  }
}

@layer inscripcio-obscur {
  .inscripcio {
    background-color: $pac2-color-background-dark;
    color: $pac2-font-color-dark;
  }
}

/* Definició General */
.inscripcio {
  // Box model
  place-items: center;
  container-type: inline-size;
  width: 90vw;
  padding: 5vw;
  margin: 0 auto;

  // Typography
  font-family: $pac2-font;

  p {
    // Box model
    width: 90cqw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    // Visual
    border-bottom: 1px solid $pac2-color-ciber;
  }
}

/* Definició dels components de la inscripció */
.inscripcio__section {
  // Box model
  width: 90cqw;
  padding-top: 5vh;
  padding-bottom: 5vh;

  // Visual
  border-bottom: 1px solid $pac2-color-ciber;
}

/****************************/
/* CSS Especial del Swipper */
/****************************/
.swiper {
  // Box model
  width: 100%;
  height: 100%;
}

.swiper-slide {
  // Box model
  display: flex;
  justify-content: center;
  align-items: center;

  // Typography
  text-align: center;
  font-size: 18px;

  // Visual
  background: $pac2-color-background;
}

.swiper-slide img {
  // Box model
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**********************************************************/
/* Definició del comportament de lcontainer               */
/**********************************************************/

@container (max-width: 600px) {
  .inscripcio {
    // Box model
    height: 100dvh;

    h2 {
      // Box model
      width: 75cqw;

      // Typography
      font-size: 1rem;
      font-style: italic;
      color: color(display-p3 1 1 1);

      // Visual
      background-color: color(display-p3 0.08627 0.29019 0.48627);
    }
  }

  .inscripcio__section {
    // Box model
    width: 100cqw;
  }
}
