.inscripcio {
  container-type: inline-size;

  background-color: $pac2-color-background;
  font-family: $pac2-font;

  width: 80%;

  padding: 20px;
  margin: 0 auto;

  overflow: auto;

  section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid $pac2-color-ciber;
  }
}

@container (max-width: 600px) {
  .inscripcio h2 {
    font-size: 1rem;
    font-style: italic;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
