/*****************************/
/* GENERAL                   */
/*****************************/
* {
  // Box model
  box-sizing: border-box;
}

html {
  // Box model
  box-sizing: border-box;
  height: 100%;
}

body {
  // Box model
  display: flex;
  flex-direction: column;

  // Typography
  background-color: $pac2-color-background;
  font-family: $pac2-font;
}

*,
*::before,
*::after {
  // Box model
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  // Box model
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  // Typography
  text-decoration: none;
}

body {
  // Box model
  height: 100vh;
  margin: 0;

  // Typography
  font-family: $pac2-font;
  color: $pac2-font-color;

  // Visual
  background-color: $pac2-color-background;
}

h1 {
  // Positioning
  z-index: 2;

  // Box model
  margin-bottom: 1em;

  // Typography
  font-family: $pac2-font-header;
  font-size: 3em;
  font-weight: 700;
  color: $pac2-font-color;
  text-align: center;
  text-transform: uppercase;
}
