/*****************************/
/* GENERAL                    */
/*****************************/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $pac2-color-background;
  font-family: $pac2-font;
}

/*****************************/
/* FOOTER                    */
/*****************************/

@function lightness-shift($colour) {
  @if (lightness($colour) < 25%) {
    @return lighten($colour, 10%);
  } @else {
    @return darken($colour, 10%);
  }
}

.footer {
  left: 0;
  top: 0;

  height: 200px;
  width: 100%;

  font-size: 0.8rem;
  color: rgb(255, 255, 255);

  background: $pac2-color-background-footer;
}

.footer__box {
  padding-top: 40px;
  padding-left: 40px;

  float: left;

  text-align: left;
}

@media (max-width: 992px) {
  .footer {
    background-color: lightness-shift($pac2-color-background-footer);
  }
}
