.sobre {
  background-color: $pac2-color-background;
  font-family: $pac2-font;

  width: 80%;

  padding: 20px;
  margin: 0 auto;

  overflow: auto;

  section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid $pac2-color-ciber;
  }
}

.hero {
  min-height: 45vh;
  position: relative;

  background-image: url("../images/proteccio-dades-web.jpg?as=webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & .hero__texte {
    position: absolute;

    top: 50%;
    left: 40%;

    transform: translate(-50%, -50%);

    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    color: $pac2-font-title-color;
    font-family: $pac2-font-title;
  }
}

.principios {
  counter-reset: my-counter;
  list-style: none;
  margin-bottom: 0;
  padding-top: 2rem;

  li {
    counter-increment: my-counter;
    position: relative;
    margin-bottom: 2rem;

    p:first-child {
      font-weight: bold;
    }
  }

  li::before {
    $size: 30px;
    top: 0;
    left: calc(-1 * $size - 10px);
    position: absolute;
    width: $size;
    height: $size;
    content: counter(my-counter);
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: $size;
    background-color: $pac2-color-ciber;
    border-radius: 50%;
  }
}

@media (max-width: 992px) {
  .hero .hero__texte {
    font-size: 2rem;
    max-width: 750px;
    color: $pac2-font-color;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
