/**************************************/
/* PÀGINA DELS SPEAKERS               */
/**************************************/

@layer speaker-obscur, speaker-clar;

@layer speaker-clar {
  .speakers {
    background-color: $pac2-color-background;
    color: $pac2-font-color;
  }

  .speakers__grid {
    background-color: $pac2-color-background;
    color: $pac2-font-color;
  }
}

@layer speaker-obscur {
  .speakers {
    background-color: $pac2-color-background-dark;
    color: $pac2-font-color-dark;
  }

  .speakers__grid {
    background-color: $pac2-color-background-dark;
    color: $pac2-font-color-dark;
  }
}

/* Definició General */
.speakers {
  // Box model
  container-type: inline-size;
  margin-bottom: 4rem;

  // Misc
  h2 {
    // Box model
    margin-top: 6rem;
    margin-bottom: 4rem;

    // Typography
    font-size: calc(1.5rem + 2vw);
    text-align: center;
  }
}

/***************************************************************/
/* Part de la definició pel FLEX                               */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap  */
/* https://codepen.io/mcraiganthony/pen/NxGxqm                 */
/***************************************************************/

/* Definició per tal que sigui un flex*/
.speakers__grid {
  // Box model
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // Typography
  text-align: center;
}

/* Definició dels components dels speakers */
.speakers__item {
  // Box model
  width: 500px;
  padding: 20px;
  margin-bottom: 3rem;

  // Typography
  text-align: center;
}

.speakers__foto {
  img {
    // Box model
    width: 350px;
    height: 350px;

    // Typography
    text-align: center;

    // Visual
    border: 2px solid $pac2-color-background-header;
    border-radius: 5%;
  }
}

.speakers__name {
  // Box model
  margin-bottom: 0;
  margin-top: 1rem;

  // Typography
  text-align: center;
  font-family: $pac2-font-title;
  font-size: 2.5rem;
}

.speakers__description {
  // Box model
  margin-top: 1rem;

  // Typography
  text-align: center;
  font-family: $pac2-font;
  font-style: italic;
  font-size: 1rem;
}

.speakers__button {
  // Box model
  margin-bottom: 0;
  margin-top: 1rem;

  // Typography
  text-align: center;
}

/***********************************************************************/
/* Definició dels comportament responsive i de container               */
/***********************************************************************/
@media (max-width: 800) {
  .speakers {
    h2 {
      // Box model
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}

@container (max-width: 600px) {
  .speakers__name,
  .speakers__description,
  .speakers h2 {
    // Typography
    font-style: italic;
    font-weight: bold;
  }
}
