<footer>
  <div class="left-footer">
    <p>
      <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Navegador
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="index.html">Index</a></li>
          <li><a class="dropdown-item" href="speakers.html">Participants</a></li>
          <li><a class="dropdown-item" href="sobre.html">Sobre nosaltres</a></li>
          <li><a class="dropdown-item" href="inscripcio.html">Inscripció</a></li>
        </ul>
      </div>
    </p>

  </div>
  <div class="right-footer">
    <p>2024 - Jaume Ramon Martinez</p>
    <p>Eines HTML i CSS II</p>
  </div>
</footer>
