<footer>
  <div class="left-footer">
    <p>
      <div style="width: 250px;">
      <label for="enllacos">Enllaços ràpids:</label>

      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
        onchange="window.location=this.options[this.selectedIndex].value"
        id="enllacos"
      >
        <option value="index.html">--------</option>
        <option value="index.html">Index</option>
        <option value="speakers.html">Participants</option>
        <option value="sobre.html">Sobre Nosaltres</option>
        <option value="inscripcio.html">Inscripció</option>
      </select>
    </div>
    </p>
    <p><br/></p>
  </div>
  <div class="right-footer">
    <p>2024 - Jaume Ramon Martinez</p>
    <p>Eines HTML i CSS II</p>
  </div>
</footer>
